<%- include('./layouts/header') %>
    <h4>Pour ajouter une affaire a votre panier d'affaires veuillez saisir son code</h4>
    <form action="/juge/addjuge" id="suivre" method="post" class="lg-form">

        <div>
            <label for="code">Tapez le code de l'affaire</label>
            <input type="text" name="code">
        </div>

        <input type="submit" value="Register" />
        </div>
    </form>
    <%- include('./layouts/footer') %>