<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- google font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
	<!-- CSSfile -->
	<link rel="stylesheet" href="style.css">
	<title>justice app</title>
</head>
<body>
	<div class="container">
		<!-- header -->
		<header>
			<a href="#" class="logo">justice</a>
			<nav>
				<ul>
					<li><a href="profile.html">mon profile</a></li>
					<li><a href="#">mes affaires</a></li>
					<li><button>log out</button></li>
				</ul>
			</nav>
		</header>
		<!--mes affaires-->
		<div class="mes-affaires">
			<div class="box">
				<h2>le titre de mon affaire </h2>
				<div class="show-more" id="show">
					<h4>a propos de mon client</h4>
					<div>
						<span>le nom de client : </span>
						<span class="value">smail mokhtari</span>
					</div>
					<div>
						<span>resume de probleme :</span>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dolorem repellat eos neque 
							ab officia nobis distinctio quidem, excepturi consequuntur voluptatum expedita, 
							quas doloribus itaque esse pariatur, quod corporis. Inventore.
						</p>
					</div>
					<h4>a propos de l'adversaire</h4>
					<div>
						<span>le nom de l'adversaire : </span>
						<span class="value">smail djamal</span>
					</div>
					<div>
						<span>le nom de l'avocat d'adversaire : </span>
						<span class="value">moustapha safire</span>
					</div>
				</div>
				<div>
					<span>la decision finale : </span>
					<span class="value">en attente</span>
				</div>
				<button class="read-more-btn">show more</button>
				<a href="modifier_avocat.html"><button class="modifier">modifier</button></a>
			</div>




            <a href="formulaire_avocat.html"><button class="ajouter">ajouter</button></a>


            <!--formulaire-->
			<!--
            <div class="formulaire">
                <form>
                    <h2>registration</h2>
                    <div class="row">
                        <label for="">le nom de client</label>
                        <input type="text" id="nom-avocat">
                    </div>
                    <div class="row">
                        <label for="">le nom de l'adversaire</label>
                        <input type="text" id="nom-adv">
                    </div>
                    <div class="row">
                        <label for="">le nom de l'avocat d'adversaire</label>
                        <input type="text" id="nom-avocat-adv">
                    </div>
                    <div class="row">
                        <label for="">votre probleme</label>
                        <textarea name="" id="" cols="50" rows="10"></textarea>
                    </div>
                    <button id="valider">valider</button>
                </form>
            </div>
			-->




		</div>

		<script src="script.js"></script>

	</div>
</body>
</html>