<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- google font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
	<!-- CSSfile -->
	<link rel="stylesheet" href="style.css">
	<title>justice app</title>
</head>
<body>
	<div class="container">
		<!-- header -->
		<header>
			<a href="#" class="logo">justice</a>
			<nav>
				<ul>
					<li><a href="profile.html">mon profile</a></li>
					<li><a href="mes_affaires.html">mes affaires</a></li>
					<li><button>log out</button></li>
				</ul>
			</nav>
		</header>
		<!--formulaire-->
        <!-- ajouter des information a la base de donnée -->
        <form action="">
            <div class="row">
                <label for="">le nom d'avocat </label>
                <input type="text" id="nom-avocat">
            </div>
            <div class="row">
                <label for="">le nom de l'adversaire</label>
                <input type="text" id="nom-adv">
            </div>
            <div class="row">
                <label for="">le nom de l'avocat d'adversaire</label>
                <input type="text" id="nom-avocat-adv">
            </div>
            <div class="row">
                <label for="">mon probleme</label>
                <textarea name="" id="" cols="50" rows="10"></textarea>
            </div>
            <!--
                <input type="submit" value="ajouter">
            -->
            <button id="modifier">modifier</button>
        </form>
	</div>
    <script src="script.js"></script>
</body>
</html>