<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- google font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
	<!-- CSSfile -->
	<link rel="stylesheet" href="style.css">
	<title>justice app</title>
</head>
<body>
	<div class="container">
		<!-- header -->
		<header>
			<a href="#" class="logo">justice</a>
			<nav>
				<ul>
					<li><a href="#">mon profile</a></li>
					<li><a href="mes_affaires.html">mes affaires</a></li>
					<li><button>log out</button></li>
				</ul>
			</nav>
		</header>
        <!--profile-->
        
        <div class="profile">
            <img src="images/photo.jfif" class="profile-photo" alt="profile photo">
            <p>client</p>
            <div class="content">
                <h2>User details</h2>
                <div class="description">
                    <div class="row">
                        <span>First Name</span>
                        <div>
                            samira
                        </div>
                    </div>
                    <div class="row">
                        <span>Last Name</span>
                        <div>
                            ait mesbah
                        </div>
                    </div>
                    <div class="row">
                        <span>location</span>
                        <div>
                            Bir mourad rais - alger
                        </div>
                    </div>
                    <div class="row">
                        <span>phone</span>
                        <div>
                            06-77-33-49-52
                        </div>
                    </div>
                    <div class="row">
                        <span>Email address</span>
                        <div>
                            samiraAitMesbah2020@gmail.com
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</body>
</html>