<%- include('./layouts/header') %>

    <div class="ajouterf">
        <button id="c" onclick="creer()">Créer une affaire</button>
        <button id="s" onclick="suivre()">Suivre une affaire</button>
    </div>
    <form action="/avocat/addAffaire" id="ajout" method="post" class="lg-form" hidden="true" style="width:500px;">
        <div>
            <label for="titleAff">Titre de l'affaire</label>
            <input type="text" name="titleAff" id="titleAff" value="<%= locals.titleAff ? titleAff : '' %>" />
        </div>

        <div>
            <label for="client">Nom et prénom du client:</label>
            <input type="text" name="client" id="client" />
        </div>

        <div>
            <label for="adversaire">Nom et prénom de client adversaire:</label>
            <input type="text" name="adversaire" id="adversaire" />
        </div>

        <div>
            <label for="contenuAff">Email de client</label>
            <input type="text" name="idclient" id="adversaire" />

        </div>
        <div>
            <label for="contenuAff">Email de l'avocat defenseur</label>
            <input type="text" name="idavo2" id="adversaire" />

        </div>
        <div>
            <label for="contenuAff">Email de Client adversaire</label>
            <input type="text" name="idadvr" id=" adversaire" />

        </div>
        <div>
            <label for="contenuAff">Email justice</label>
            <input type="text" name="idjuge" id="adversaire" />
        </div>
        <div>
            <label for="contenuAff1">décrivez le problème </label>
            <textarea name="contenuAff1" id="adversaire" cols="50" rows="10"></textarea>

        </div>



        <label for="wilayaAff">Wilaya *</label>
        <select name="wilayaAff" required class="form-control">
            <option value=" "> CHOISISSEZ LA
                WILAYA </option>
            <option value="01">Adrar</option>
            <option value="02">Chlef</option>
            <option value="03">Laghouat</option>
            <option value="04">Oum El Bouaghi
            </option>
            <option value="05">Batna</option>
            <option value="06">Bejaia</option>
            <option value="07">Biskra</option>
            <option value="08">Bechar</option>
            <option value="09">Blida</option>
            <option value="10">Bouira</option>
            <option value="11">Tamanrasset</option>
            <option value="12">Tebessa</option>
            <option value="13">Tlemcen</option>
            <option value="14">Tiaret</option>
            <option value="15">Tizi Ouzou</option>
            <option value="16">Alger</option>
            <option value="17">Djelfa</option>
            <option value="18">Jijel</option>
            <option value="19">Setif</option>
            <option value="20">Saida</option>
            <option value="21">Skikda</option>
            <option value="22">Sidi Bel Abbes
            </option>
            <option value="23">Annaba</option>
            <option value="24">Guelma</option>
            <option value="25">Constantine</option>
            <option value="26">Medea</option>
            <option value="27">Mostaganem</option>
            <option value="28">MSila</option>
            <option value="29">Mascara</option>
            <option value="30">Ouargla</option>
            <option value="31">Oran</option>
            <option value="32">El Bayadh</option>
            <option value="33">Illizi</option>
            <option value="34">Bordj Bou
                Arreridj
            </option>
            <option value="35">Boumerdes</option>
            <option value="36">El Tarf</option>
            <option value="37">Tindouf</option>
            <option value="38">Tissemsilt</option>
            <option value="39">El Oued</option>
            <option value="40">Khenchela</option>
            <option value="41">Souk Ahras</option>
            <option value="42">Tipaza</option>
            <option value="43">Mila</option>
            <option value="44">Ain Defla</option>
            <option value="45">Naama</option>
            <option value="46">Ain Temouchent</option>
            <option value="47">Ghardaia</option>
            <option value="48">Relizane</option>
        </select>

        <label for="communeAff">Commune *</label>
        <select name="communeAff" required class="form-control">
            <option value=" "> CHOISISSEZ LA COMMUNE </option>
            <option value="c1">c1</option>
            <option value="c2">c2</option>
            <option value="c3">c3</option>
            <option value="c4">c4</option>
            <option value="c5">c5</option>
            <option value="c6">c6</option>
            <option value="c7">c7</option>
            <option value="c8">c8</option>
            <option value="c9">c9</option>
            <option value="d1">d1</option>
            <option value="d2">d2</option>
            <option value="d3">d3</option>
            <option value="d4">d4</option>
            <option value="d5">d5</option>
            <option value="d6">d6</option>
            <option value="d7">d7</option>
            <option value="d8">d8</option>
            <option value="d9">d9</option>
            <option value="e1">e1</option>
            <option value="e2">e2</option>
            <option value="e3">e3</option>
            <option value="e4">e4</option>
            <option value="e5">e5</option>
            <option value="e6">e6</option>
            <option value="e7">e7</option>
            <option value="e8">e8</option>
            <option value="e9">e9</option>
        </select>
        <label for="tribunalAff">Tribunal *</label>
        <select name="tribunalAff" required class="form-control">
            <option value=" "> LE CODE DE TRIBUNAL </option>
            <option value="T1">T1</option>
            <option value="T2">T2</option>
            <option value="T3">T3</option>
            <option value="T4">T4</option>
            <option value="T5">T5</option>
            <option value="T6">T6</option>
            <option value="T7">T7</option>
            <option value="T8">T8</option>
            <option value="T9">T9</option>
            <option value="R1">S1</option>
            <option value="R2">S2</option>
            <option value="R3">S3</option>
            <option value="R4">S4</option>
            <option value="R5">S5</option>
            <option value="R6">S6</option>
            <option value="R7">S7</option>
            <option value="R8">S8</option>
            <option value="R9">S9</option>
            <option value="S1">S1</option>
            <option value="S2">S2</option>
            <option value="S3">S3</option>
            <option value="S4">S4</option>
            <option value="S5">S5</option>
            <option value="S6">S6</option>
            <option value="S7">S7</option>
            <option value="S8">S8</option>
            <option value="S9">S9</option>
        </select>

        <input type="submit" value="Register" />
        </div>
    </form>
    <br />
    <form action="/avocat/addAffaire2" id="suivre" method="post" class="lg-form" hidden="true">

        <div>
            <label for="code">Tapez le code de l'affaire</label>
            <input type="text" name="code">
        </div>

        <input type="submit" value="Register" />
        </div>
    </form>
    <%- include('./layouts/footer') %>